<footer>
    <div class="footer-content">
        <!-- Logos -->
        <div class="footer-logos">
            <a href="https://www.cuhk.edu.hk/chinese/" class="footer-logo-link" target="_blank" rel="noopener noreferrer">
                <img src="../assets/web_pictures/cuhk_logo.png" alt="First Logo" class="footer-logo">
            </a>
            <a href="https://newww.phy.cuhk.edu.hk/" class="footer-logo-link" target="_blank" rel="noopener noreferrer">
            <img src="../assets/web_pictures/cuhk_sci_logo.png" alt="Second Logo" class="footer-logo">
            </a>
        </div>

        <!-- Info -->
        <div class="footer-info">
            <div class="info-item">
                <div class = "info-contact">
                    <i class="fas fa-map-marker-alt"></i>
                    <address>
                    Room 352B, 3rd Floor, Science Centre <br>
                    North Block, Department of Physics <br>
                    The Chinese University of Hong Kong, <br>
                    Sha Tin, N.T., Hong Kong,  China <br>                        
                    </address>
                </div>
            </div>
            <div class="info-item">
                <div class = "info-contact">
                    <i class="fas fa-phone-alt"></i>
                    (852) 3943 6259
                </div>
                <div class = "info-contact">
                    <i class="fas fa-fax"></i>
                    (852) 3943 6259
                </div>
                <div class="info-contact">
                    <i class="fas fa-envelope"></i>
                    qwang@cuhk.edu.hk
                </div>  
            </div>
            </div>
        </div>
    </div>
    <div style="height:8em;"></div>
    <hr>
    <div class="publications-additional-info">
        <h4>Facilities</h4>
        <div class="publications-logos">
          <a href="https://userportal.nsrrc.org.tw/APNSR/page/2160" class="logo-link" target="_blank" rel="noopener noreferrer">
            <img src="/assets/icons/nsrrc_logo.png" alt="NSRRC Logo" class="logo">
            <span class="footer-logo-name">NSRRC</span>
          </a>
          <a href="https://uas.diamond.ac.uk/uas/" class="logo-link" target="_blank" rel="noopener noreferrer">
            <img src="/assets/icons/dls_logo.png" alt="DLS Logo" class="logo">
            <span class="footer-logo-name">DLS</span>
          </a>
          <a href="https://smis.esrf.fr/misapps/SMISWebClient/protected/welcome.do" class="logo-link" target="_blank" rel="noopener noreferrer">
            <img src="/assets/icons/esrf_logo.png" alt="ESRF Logo" class="logo">
            <span class="footer-logo-name">ESRF</span>
          </a>
          <a href="https://duo.psi.ch/duo/" class="logo-link" target="_blank" rel="noopener noreferrer">
            <img src="/assets/icons/psi_logo.png" alt="PSI Logo" class="logo">
            <span class="footer-logo-name">PSI</span>
          </a>
          <a href="https://door.desy.de/door/index.php" class="logo-link" target="_blank" rel="noopener noreferrer">
            <img src="/assets/icons/desy_logo.png" alt="DESY Logo" class="logo">
            <span class="footer-logo-name">DESY</span>
          </a>
          <a href="https://www.bnl.gov/nsls2/" class="logo-link" target="_blank" rel="noopener noreferrer">
            <img src="/assets/icons/bnl_logo.png" alt="BNL Logo" class="logo">
            <span class="footer-logo-name">BNL</span>
          </a>
          <a href="https://europeanspallationsource.se/" class="logo-link" target="_blank" rel="noopener noreferrer">
            <img src="/assets/icons/ess_logo.png" alt="ESS Logo" class="logo">
           <span class="footer-logo-name">ESS</span>
          </a>
          <a href="https://proposal.isis.rl.ac.uk/proposal-launchpad/" class="logo-link" target="_blank" rel="noopener noreferrer">
            <img src="/assets/icons/isis_logo.png" alt="ISIS Logo" class="logo">
            <span class="footer-logo-name">ISIS</span>
          </a>
          <a href="https://mlfinfo.jp/en/user/proposals/" class="logo-link" target="_blank" rel="noopener noreferrer">
            <img src="/assets/icons/jparc_logo.png" alt="J-PARC Logo" class="logo">
            <span class="footer-logo-name">J-PARC</span>
          </a>
          <a href="https://www.frm2.tum.de/frm2/startseite/" class="logo-link" target="_blank" rel="noopener noreferrer">
            <img src="/assets/icons/frmii_logo.png" alt="FRMII Logo" class="logo">
            <span class="footer-logo-name">FRMII</span>
          </a>
          <a href="https://user.ornl.gov/Account/Login" class="logo-link" target="_blank" rel="noopener noreferrer">
            <img src="/assets/icons/ornl_logo.png" alt="ORNL Logo" class="logo">
            <span class="footer-logo-name">ORNL</span>
          </a>
          <a href="https://www.ansto.gov.au/" class="logo-link" target="_blank" rel="noopener noreferrer">
            <img src="/assets/icons/ansto_logo.png" alt="ANSTO Logo" class="logo">
            <span class="footer-logo-name">ANSTO</span>
          </a>
        </div>
      </div>

      <div class="publications-additional-info">
        <div class="publications-logos">
          <a href="https://sun.synchrotron-soleil.fr/sunset/bridge/sunset/" class="logo-link" target="_blank" rel="noopener noreferrer">
            <img src="/assets/icons/solei_logo.png" alt="SOLEI Logo" class="logo">
            <span class="footer-logo-name">SOLEI</span>
          </a>
          <a href="https://userclub.ill.eu/userclub/" class="logo-link" target="_blank" rel="noopener noreferrer">
            <img src="/assets/icons/ill_logo.png" alt="ILL Logo" class="logo">
            <span class="footer-logo-name">ILL</span>
          </a>
          <a href="https://www.nist.gov/ncnr" class="logo-link" target="_blank" rel="noopener noreferrer">
            <img src="/assets/icons/ncnr_logo.png" alt="NCNR Logo" class="logo">
            <span class="footer-logo-name">NCNR</span>
          </a>
          <a href="https://duo.maxiv.lu.se/duo/" class="logo-link" target="_blank" rel="noopener noreferrer">
            <img src="/assets/icons/maxiv_logo.png" alt="MAXIV Logo" class="logo">
            <span class="footer-logo-name">MAXIV</span>
          </a>
        </div>
      </div>

      <hr>
      <div class="publications-additional-info">
          <h4>Links</h4>
          <div class="publications-logos">
            <a href="https://www.pshk.org.hk/" class="logo-link" target="_blank" rel="noopener noreferrer">
              <img src="/assets/icons/pshk_logo.png" alt="PSHK Logo" class="logo">
              <span class="footer-logo-name">PSHK</span>
            </a>
            <a href="https://www.ugc.edu.hk/eng/ugc/index.html" class="logo-link" target="_blank" rel="noopener noreferrer">
              <img src="/assets/icons/ugc_logo.png" alt="UGC Logo" class="logo">
              <span class="footer-logo-name">UGC</span>
            </a>
          </div>
        </div>
</footer>

