<footer>
    <div class="footer-content">
        <div class="footer-info">
            <h3>Contact</h3>
            <address>
                Department of Physics<br>
                The Chinese University of Hong Kong<br>
                Shatin, N.T.<br>
                Hong Kong SAR<br>
            </address>
            <div class="footer-copyright">
                ©2023 Quantum Matter Research Group. All Rights Reserved.
            </div>
        </div>
        <div class="footer-logo">
            <span class="logo-text"> QM CUHK</span>
        </div>
        <div class="footer-social">
            <a href="mailto:your-email@example.com"><i class="fas fa-envelope"></i></a>
            <a href="your-facebook-url"><i class="fab fa-facebook"></i></a>
        </div>
    </div>
</footer>




