<footer>
    <div class="footer-content">
        <!-- Logos -->
        <div class="footer-logos">
            <img src="assets/web_pictures/cuhk_logo.png" alt="First Logo">
            <img src="assets/web_pictures/cuhk_sci_logo.png" alt="Second Logo">
        </div>

        <!-- Info -->
        <div class="footer-info">
            <div class="info-item">
                <div class = "info-contact">
                    <i class="fas fa-map-marker-alt"></i>
                    <address>
                    Room 108, 1st Floor, Science Centre<br>
                    North Block, Department of Physics <br>
                    The Chinese University of Hong Kong,<br>
                    Sha Tin, N.T., Hong Kong, China
                    </address>
                </div>
            </div>
            <div class="info-item">
                <div class = "info-contact">
                    <i class="fas fa-phone-alt"></i>
                    (852) 39436154
                </div>
                <div class = "info-contact">
                    <i class="fas fa-fax"></i>
                    (852) 26035204
                </div>
                <div class="info-contact">
                    <i class="fas fa-envelope"></i>
                    physics@cuhk.edu.hk
                </div>  
            </div>
            </div>
        </div>
    </div>
</footer>

