<div class="nav-container">
    <div class="nav-logo">
        <img src="assets/icons/group_logo.png" alt="Logo">
    </div>
    <ul class="nav-links">
        <li><a href="{{ site.baseurl }}/">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#members">Members</a></li>
        <li><a href="#research">Research</a></li>
        <li><a href="#publications">Publications</a></li>
        <li><a href="#news">News</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="#teaching">Teaching</a></li>
        <li><a href="#internal">Internal</a></li>
        <li><a href="#equipment">Equipment/Lab</a></li>
    </ul>
</div>

