<div class="nav-container">
    <div class="nav-logo">
        <img src="../assets/icons/group_logo.png" alt="Logo">
        <a href="{{ site.baseurl }}/">Quantum Matter Laboratory</a>
    </div>
    <!-- Hamburger menu for mobile -->
    <input type="checkbox" id="nav-toggle" class="nav-toggle">
    <label for="nav-toggle" class="nav-toggle-label">
      <span></span>
    </label>
    <ul class="nav-links" id="nav-links">
        <li><a href="{{ site.baseurl }}/">Home</a></li>
        <li class="dropdown">
            <a href="/research">Research</a>
            <ul class="dropdown-content">
                <li><a href="{{ site.baseurl }}/equipment">Equipment</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="{{ site.baseurl }}/members">Members</a>
            <ul class="dropdown-content">
                <li><a href="{{ site.baseurl }}/internal">Internal</a></li>
            </ul>
        </li>
        <li><a href="{{ site.baseurl }}/publications">Publications</a></li>
        <li><a href="{{ site.baseurl }}/openings">Openings</a></li>
        <li><a href="{{ site.baseurl }}/news">News</a></li>
        <li><a href="{{ site.baseurl }}/teaching">Teaching</a></li>
        <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
    </ul>
</div>
