$default-side-space:8vw;
$default-top-space: 12vh;
$footer-top-padding: 10vh;
$footer-side-padding: 5vh;

footer {
  background: orange;
  color: #fff;
  padding: $footer-top_padding $footer-side-padding;
  
  .footer-content {
    display: flex;
    justify-content: space-between;
  }
  .footer-logos {
    display: flex;
    gap: 20px;
    
    img {
      height: 12vh;
      margin-top:auto;
      margin-bottom:auto;
    }
  }
  .footer-info {
    display: flex;
    flex-direction: row;
    gap: 4vw;
    align-items: flex-start; 
  }
  .info-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4vh;
    .info-contact {
      display: flex;
      flex-direction: row;
    }
  }
  .info-item i {
    color: #fff;
    font-size: 24px;
    margin-right: 2vh;
  }
  .info-item address {
    display: inline; /* Removes the default block display of the address tag */
  }
  address {
    font-style:normal;
  }
}







nav {
  background-color: #fff; /* White background */
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  position: fixed; /* Stick to the top of the page */
  width: 100%;
  height: 80px;
  z-index: 1000; /* Keep on top of other elements */
  top: 0;
  transition: top 0.3s; /* Smooth transition for moving navbar */
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px 0px $default-side-space;
  }
  #navlogo {
    transition: all 0.5s ease-in-out;
  }
  #navtext {
    display: none; /* Initially hidden */
    position: fixed;
    top: 70px; /* Adjust based on logo's height and desired spacing */
    left: 50%; /* Center it horizontally */
    transform: translateX(-50%); /* Keep it centered regardless of its width */
    transition: all 0.5s ease-in-out; /* This will animate the text smoothly */
    z-index: 998; /* Below the logo but above the rest */
  }
  .nav-logo img {
    height: 65px; /* Adjust as needed */
    margin: 0 20px 0 10px;
  }
  .nav-links {
    list-style-type: none;
    display: flex;
    gap: 20px; /* Space between links */
  }
  .nav-links li a {
    text-decoration: none;
    color: #333; /* Link color */
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.2s;
  }
  .nav-links li a:hover {
    background-color: #f5f5f5; /* Background color on hover */
  }
  /* ... Your existing CSS ... */

  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #efefef;
    min-width: 10em;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    top: 100%; /* Makes it appear directly below the parent item */
    left: 50%; /* Align with the left edge of parent item */
    transform: translateX(-50%);
    li {
      padding: 1em 0;
      text-decoration: none;
      display: block;
    }
  }
  .dropdown-content li a {
    color: #333; 
  }
  .dropdown-content li a:hover {
    background-color: #e5e5e5;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown:hover > a {
    background-color: #f5f5f5; 
  }
}

body {
  .wrapper {
    margin : $default-top-space $default-side-space;
  }
  .home-wrapper {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px -8px 16px 0px rgba(0,0,0,0.4);
    padding : $default-top-space $default-side-space;
    position: relative;
  }
  .transparent-divider {
    height: 80vh;
  }
  .homepage-group-name {
    position: relative;
    left: 50%;
    transform: translate(-50%, -10%); /* Center the content */
    text-align: center; /* Center text and images horizontally */
    color: white; /* Assuming white text. Adjust if needed */
    h1 {
      font-size: 4rem;
      margin-top: 5px;
      margin-bottom: 5px;
    }
    p {
      font-size: 1.5rem;
      margin: 5px;
    }
  }
}




.welcome-section {
  position: fixed;
  overflow: hidden;
  z-index: -1;
  .logos {
    display: flex;
    justify-content: center; /* Horizontally center logos */
    gap: 20px; /* Spacing between logos */
  }
  .logo {
    width: 20vw; /* Adjust size if needed */
    height: auto;
  }
}
#welcome-image {
  min-width: 100vw;
  opacity: 1;
  transition: opacity 0.5s;
  object-fit: cover;
  height: 100vh
}




















