$default-side-space:8vw;
$default-top-space: 12vh;
$footer-top-padding: 10vh;

footer {
  background-color: #000;
  color: #fff;
  padding: $footer-top-padding $default-side-space;
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }
  .footer-info {
    flex: 1;
  }
  .footer-info h3 {
    margin-top: 0;
  }
  .footer-logo img {
    width: 60px; /* Adjust as necessary */
  }
  .footer-social {
    margin-left: 20px;
  }
  .footer-social a {
    margin-left: 15px;
    color: #fff;
    text-decoration: none;
  }
  .footer-social i {
    font-size: 24px; /* Adjust as necessary */
  }
  .footer-copyright {
    margin-top: 10px;
    font-size: 14px;
  }
  .footer-logo .logo-text {
    font-weight: bold;
    font-size: 40px; /* Adjust as necessary */
    font-family: 'Arial', sans-serif;
    margin-top: auto;
    margin-bottom: auto;
    color: #fff;
}
}


nav {
  background-color: #fff; /* White background */
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  position: fixed; /* Stick to the top of the page */
  width: 100%;
  height: 80px;
  z-index: 1000; /* Keep on top of other elements */
  top: 0;
  transition: top 0.3s; /* Smooth transition for moving navbar */
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px 0px $default-side-space;
  }
  #navlogo {
    transition: all 0.5s ease-in-out;
  }
  #navtext {
    display: none; /* Initially hidden */
    position: fixed;
    top: 70px; /* Adjust based on logo's height and desired spacing */
    left: 50%; /* Center it horizontally */
    transform: translateX(-50%); /* Keep it centered regardless of its width */
    transition: all 0.5s ease-in-out; /* This will animate the text smoothly */
    z-index: 998; /* Below the logo but above the rest */
  }
  .nav-logo img {
    height: 65px; /* Adjust as needed */
    margin: 0 20px 0 10px;
  }
  .nav-links {
    list-style-type: none;
    display: flex;
    gap: 20px; /* Space between links */
  }
  .nav-links li a {
    text-decoration: none;
    color: #333; /* Link color */
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.2s;
  }
  .nav-links li a:hover {
    background-color: #f5f5f5; /* Background color on hover */
  }
}

body {
  .wrapper {
    margin : $default-top-space $default-side-space;
  }
}



.welcome-section {
  position: relative;
  overflow: hidden;
  .overlay-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the content */
    text-align: center; /* Center text and images horizontally */
    color: white; /* Assuming white text. Adjust if needed */
  }
  .logos {
    display: flex;
    justify-content: center; /* Horizontally center logos */
    gap: 20px; /* Spacing between logos */
  }
  .logo {
    width: 20vw; /* Adjust size if needed */
    height: auto;
  }
  h1 {
    font-size: 4rem;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  p {
    font-size: 1.5rem;
    margin: 5px;
  }
}
#welcome-image {
  height: 100%;
  opacity: 1;
  transition: opacity 0.5s;
}




















