$basic-width:72vw;
$card-width: 60vw;
$home-sans-font:'Helvetica Neue', Helvetica, Arial, sans-serif;
$home-title-font: Georgia, 'Times New Roman', Times, serif;
$home-content-font:Verdana, Geneva, Tahoma, sans-serif;
$home-beauty-font: 'Sofia', Tahoma, sans-serif;
$beauty-serif: 'Abril Fatface', cursive;
$beauty-sans-serif: 'Lato', sans-serif;
$default-side-space:8vw;
$default-top-space: 12vh;
$footer-top-padding: 10vh;
$footer-side-padding: 5vh;
$member-card-radius: 4px;
/*********************************************
            My own parameters End
*********************************************/
$color-primary: hsl(0, 0%, 10%);
$color-text: hsl(0, 0%, 20%);
$color-subtext: hsl(0, 0%, 60%);
$color-border: hsl(0, 0%, 85%);
$color-box-background: mix($color-primary, white, 4%);
$border-radius: 4px;
$font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
/*p{
  color:blue !important;
}*/

body {
  box-sizing: content-box;
  font-family: $font-family;
  margin: 0 auto;
  line-height: 1.7;
  overflow-x: hidden;
  color: $color-text;
  font-size: 1.1rem;
  max-width: 100%;
  pre {
    font-family: $font-family;
  }
}


article {
  box-sizing: content-box;
  font-family: $font-family;
  margin: 0 auto;
  line-height: 1.7;
  overflow-x: hidden;
  color: $home-content-font;
  font-size: 1rem;
  max-width: 80%;
  @media (max-width: 900px) {
    font-size: 0.9rem;
    max-width: 100%;
  }
  a {
    color: $color-subtext;
  }
  em{
    
    font-size:0.95rem;
  }
  ul {
    padding-inline-start: 18px;
  }
  table{
    max-width: 80%;
    margin: 10px auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    font-size: 0.9em;
    border-collapse: collapse;
  }
  thead tr{
    background-color: rgb(81, 180, 255);
    color: #ffffff;
  }
  thead th {
    padding: 10px 10px;
  }

  tbody td{
    border-bottom: 2px solid rgb(241, 241, 241);
    opacity: 0.9;
    padding:3px 13px;
  }
}


body.index {
  box-sizing: content-box;
  font-family: $font-family;
  margin: 0 auto;
  line-height: 1.7;
  padding-left: 4vh 6vh;
  overflow-x: hidden;
  color: $color-text;
  font-size: 1rem;
  max-width: 100%;
  @media (min-width: 900px) {
    font-size: 1.2rem;
  }
}
body.index a{
  text-decoration:none !important;
}


.publication-container {
    margin: 0 5vw 0 5vw;
    .publications {
      max-width: 50em;
      margin: 0 auto 0 5vw;
      padding-top: 50px;
      display: flex;
      flex-direction: column;
      align-items:flex-start;
      align-content:start;
  }
  .header {
      font-size: 24px;
      margin-bottom: 30px;
  }
  .publication {
    display: flex;
    align-items: start;
    justify-content: flex-start;
    border-bottom: 2px solid #e0e0e0;
    padding: 15px 1em;
    flex-direction: row;
    gap: 2em;
    background-color: white;
    transition: background-color 0.3s, border-radius 0.3s;
    &:hover{
      background-color: #eaeaea;
      border-radius: 4px;
    }
  }
  .publication-keep {
    display: flex;
    align-items: start;
    justify-content: flex-start;
    border-bottom: 2px solid #e0e0e0;
    padding: 15px 0;
    flex-direction: row;
    gap: 2em;
  }
  .publication-transparent {
    z-index:1000;
    background-color: linear-gradient(to bottom, #000000, rgba(0, 87, 179, 0));
  }
  .publication-info {
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    flex-direction: column;
    padding-right: 2em;
  }
  .publication-picture{
    img {
    width: 10em;
    }
  }
  .publication:last-child {
      border-bottom: none;
  }
  .title {
      font-weight: bold;
      color: #333;
      max-width: 30em;
      font-size: 1.1em;
  }
  .journal {
      color: rgb(64, 64, 64);
  }
  .authors {
    color: #7e7e7e;
    width: 50em;
    font-size:0.9em;
    max-width: 90%;
  }
  .year {
      font-size: 24px;
      font-weight: bold;
  }
  .label {
      background-color: #b5b5b5;
      padding: 3px 7px;
      color: white;
      border-radius: 3px;
      font-size: 12px;
      text-align: center;
  }
}

#show-more {
  padding: 10px 20px;
  background-color: #b5b5b5;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  margin: 2em 0;
  transition: background-color 0.3s;
}
#show-more:hover {
  background-color: #7e7e7e;;
}
#show-more:active {
  transform: translateY(2px);
}

#publication-popup {
  position:relative;
  margin:0 auto;
  text-align:center;
  top:8vh;
  opacity:0;
  transition: top 0.4s ease-out, opacity 0.4s ease-out;
}






// home page
.welcome-section {
  position: fixed;
  overflow: hidden;
  z-index: -1;
  .logos {
    display: flex;
    justify-content: center; /* Horizontally center logos */
    gap: 20px; /* Spacing between logos */
  }
  .logo {
    width: 20vw; /* Adjust size if needed */
    height: auto;
  }
  .welcome-image {
    min-width: 100vw;
    opacity: 1;
    transition: opacity 0.5s;
    object-fit: cover;
    height: 100vh
  }
}

/* hompage introduction */
.hompage-introduction {
  max-width: 40em;
  margin: 0 auto 0 auto;
  p {
    font-size: 1.2rem;
  }
}

.homepage-group-name {
  position: relative;
  left: 50%;
  transform: translate(-50%, -10%); /* Center the content */
  text-align: center; /* Center text and images horizontally */
  color: white; /* Assuming white text. Adjust if needed */
  h1 {
    font-size: 4rem;
    margin-top: 5px;
    margin-bottom: 0;
  }
  p {
    transform: translate(0,-10px);
    font-size: 1.5rem;
    margin: 5px;
  }

}
/* hompage members */
.hompage-members-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto 0 auto;
  gap: 3em;
}
.member-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  max-width: 16.5em;
  text-align: center;
  font-family: arial;
  border-radius: $member-card-radius;
  img {
    border-top-left-radius: $member-card-radius;
    border-top-right-radius: $member-card-radius;
  }
  i:hover, a:hover {
    opacity: 0.7;
  }
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  i {
    color: #363636;
    margin: 0.5em;
  }
  h1 {
    margin: 0.35rem 0;
    font-size: 1.5em;
  }
}
.member-card-title {
  color: rgb(153, 153, 153);
  font-size: 1em;
  margin: 0 0;
}
.member-card-logo {
  margin: 0.5em 0 0.8em 0;
}
p {
  margin: 0 0;
  font-size:0.9rem;
}

// research page
.banner {
  position: relative;
  overflow: hidden;
  .logos {
    display: flex;
    justify-content: center; /* Horizontally center logos */
    gap: 20px; /* Spacing between logos */
  }
  .logo {
    width: 20vw; /* Adjust size if needed */
    height: auto;
  }
  .banner-picture {
    min-width: 100vw;
    opacity: 1;
    object-fit: cover;
    filter: brightness(50%);
  }
}
.banner-title {
  position: absolute;
  left: 50%;
  top: 35vh;
  transform: translate(-50%, -50%); /* Center the content */
  text-align: center; /* Center text and images horizontally */
  color: white; /* Assuming white text. Adjust if needed */
  h1 {
    font-size: 4rem;
    margin-top: 5px;
    margin-bottom: 0;
  }
  p {
    transform: translate(0,-10px);
    font-size: 1.5rem;
    margin: 5px;
  }
}

.research-introduction {
  max-width: 50em;
  width: 80%;
  margin: 0 auto 0 auto;
  p {
    font-size: 1.2rem;
  }
}

.research-wrapper{
  width:85%;
  max-width:70em;
  margin: 0 auto;
  h1 {
    border-bottom: 2px solid rgb(241, 241, 241);
  }
  .research-tech-container{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: stretch;
    padding: 1em 1em;
    gap: 2.5em;
    @media (max-width: 900px) {
      flex-direction: column;
    }
  }
  .research-tech-container-reverse {
    @extend .research-tech-container;
    @media (max-width: 900px) {
      flex-direction: column-reverse;
    }
  }
  .research-tech-pic {
    width: 50%;
    height: 50em;
    overflow: hidden;
    @media (max-width: 900px) {
      width: 100%;
      max-height: 100vh;
    }
    img {
      object-fit: cover;
      width: 100%;
      height:100%;
    }
  }
  .research-tech-info {
    width: 50%;
    font-size: 1.2em;
    @media (max-width: 900px) {
      width: 100%;
      height: 80vh;
    }
  }
}

// contact
.contact-container {
  display: flex;
  width: 80%;
  max-width: 70em;
  flex-direction: row;
  align-content: center;
  align-items: start;
  margin: 0 auto 0 auto;
  gap: 1.5em;
  @media (max-width: 900px){
    flex-direction: column;
    align-items: center;
  }
  .contact-info-container {
    display: flex;
    flex-direction: row;
    align-items: start;
    align-content: flex-start;
    font-size: 1.1em;
    gap: 0.7em;
    margin-bottom: 0.3em;
  }
}

.map {
  margin: 0 auto;
  iframe{
    position: relative;
    width:70%; 
    height:80vh; 
    overflow:hidden;
    left: 50%;
    border-style:none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transform: translate(-50%,0);
    @media (max-width: 900px){
      width: 100%;
    }
  }
}